.navbar-custom {
  background-color:rgb(234, 239, 239);
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
@media only screen and (min-width: 1000px) {
  .inputs {
    width: 50%;
  }
}
button {
  z-index: 2;
}
